*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   
    background-color: rgb(241, 241, 238);
     text-align: center;
     overflow-x: hidden;
}
a{
    text-decoration: none;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
#logoimg{
    height: 30px;
    border-radius: 5px;
}
.logo h2{
    font-weight: 900;
    font-size: 1.7rem;
}
.about_section a{
    color: rgb(78, 75, 75);
    font-size: 0.9rem;
    font-weight: bold;
    display: none;
}
@media screen and (min-width:768px){
    .about_section a{
        display: block;
    }
}
.about_section{
    width: 33vw;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.header{
    height:15vh ;
    width: 100vw;
     display: flex;
     justify-content: center;
     align-items: center;
}
#navcontent{
    width: 80vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.contactus {
    width: 7rem;
}
.contactus a{
    background-color: rgb(72, 131, 226);
    padding: 0.7rem;
    border-radius: 8px;
    text-align: center;
    color: white;
    font-weight: 500;
    display: none;
}
@media screen and (min-width:768px){
    .contactus a{
        display: block;
    }
}
.menubutton{
    display: none;
    border: none;
    border-radius: 0.375rem;
}
@media screen and (max-width:768px){
    .menubutton{
    display: block;
}
}
.menuicon{
    height: 1.5rem;
    width: 1.5rem;
}
.main-section{
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.6rem;
    align-items: center;
    margin: 0 auto;
}
.content-left{
    text-align: center;
    animation: slidefromleft 1s ease forwards;
    opacity: 0;
} 
@keyframes slidefromleft {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.section-label{
    font-size: 1.15rem;
    font-weight: 600;
    color: rgb(65, 111, 146);
}
.sectio-title{
    font-size: 2.25rem;
    padding: 1.1rem ;
}
.section-description{
    color: rgb(74, 71, 71);
    font-size: 1rem;
    
}
.button-group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    padding: 1rem;
    margin-top: 1rem;
  
}
.start-button, .tour-button{
     background-color: rgb(72, 131, 226);
    padding: 0.7rem;
    border-radius: 8px;
    text-align: center;
    color: white;
    font-weight: 500;  
}
.tour-button{
    background-color: rgb(41, 38, 38);
}
.tour-button:hover{
    background-color: rgb(111, 106, 106);
}
.start-button:hover{
    background-color: rgb(131, 171, 235);
}
.image-container{
    border: none;
    border-radius: 0.625rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    height: 57vh;
}
.section-image{
    height: 100%;
    width: 100%;
}
@media screen and (min-width:768px){
    .main-section{
        flex-direction: row;
        display: flex;
    }
    .content-left{
      max-width: 50%;
      height:  300px;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    
    }
    .sectio-title{
        padding-left: 0;
    }
    .button-group{
        justify-content:  start;
        padding: 0;
    }
    .section-label{
        font-size: 1rem;
    }
    .sectio-title{
        font-size: 3.7rem;
    }
    .image-container{
        height: 66vh;
    }
    .section-description{
        font-size: 1rem;
        color: rgb(133, 128, 128);
    }
}
#trust{
    font-size: 2.2rem;
    font-weight: 700;
}
.mini-container{
    width: 50vw;
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.company-container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2.5rem;
    animation: slidefromleft 1s ease forwards;
}
.company-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3.5rem;
    padding: 1rem;
    background-color: lightgray;
    border: none;
    border-radius: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding: 2rem 2rem;
}
.company-logo{
    font-size: 1rem;
    font-weight: 500;
    color: lightgrey;
    display: flex;
    gap: 0.5rem;
}
.company-logo img{
     height: 1.3rem;
     
    }
    .company-logo a{
        font-size: 1rem;
        color: rgb(252, 245, 245);
}
@media screen and (min-width:768px){
    .company-grid{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
}
.feature-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(225, 221, 221);
}
.feature-content{
    width: 45vw;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.feature-heading{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.feature-heading h2{
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.feature-heading p{
    color: rgb(118, 111, 111);
}
.feature-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.grid-img{
    height: 3.5rem;
    width: 3.5rem;
    background-color: white;
    border-radius: 20px;
    padding: 0.8rem;
}
@media screen and (max-width:768px){
    .feature-grid{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
    }
    .feature-content{
        width: 80%;
    }
}
.feature-grid-content1{
    background-color: rgb(16, 153, 238);
    color: white;
    border-radius: 1rem;
    gap: 1.2rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin: 0.6rem;
}
.feature-grid-content2{
   background-color: #FE567D;
    color: white;
    border-radius: 1rem;
    gap: 1.2rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
     justify-content: center;
    align-items: center;
    margin: 0.6rem;
}
.feature-grid-content3{
    background-color: #FBB74E;
    color: white;
    border-radius: 1rem;
    gap: 1.2rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
     justify-content: center;
    align-items: center;
    margin: 0.6rem;
}
.feature-grid-content4{
    background-color: #3BB6BA;
    color: white;
    border-radius: 1rem;
    gap: 1.2rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
     justify-content: center;
    align-items: center;
    margin: 0.6rem;
}
.feature-grid-content5{
    background-color:#6CA652;
    color: white;
    border-radius: 1rem;
    gap: 1.2rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
     justify-content: center;
    align-items: center;
    margin: 0.6rem;
}
.feature-grid-content6{
    background-color:#726DA7;
    color: white;
    border-radius: 1rem;
    gap: 1.2rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
     justify-content: center;
    align-items: center;
    margin: 0.6rem;
}
.testimonial-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonial-div{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     justify-content: space-between;
     width: 75vw;
     padding: 1rem;
}
.testimonial-content{
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
    margin-top: 0.8rem;
    
}
.testimonial-div h3{
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tcontent{
    border: 2px solid lightgrey;
    box-shadow: 2px 2px 5px rgb(159, 154, 154);
    border-radius: 5px;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.tcontent img{
    height: 40px;  
}
.tcontent p{
    color: rgb(120, 117, 117);
}
#tname{
   color: rgb(108, 143, 184);
   font-weight: bold;
}
#tdesc{
    margin-bottom: 1.5rem;
}
.newsletter-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
.newsletter-content{
    width: 62vw;
    
    background-color: lightgrey;
    display: flex;
    justify-content: start;
    align-items: center;
    
}
.left-content{
    width: 50%;
}
.right-content{
    width: 50%;
    gap: 3rem;
   
}
.left-content img{
    width: 100%;
    height: 35vh;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.update-heading{
    margin-bottom: 1rem;
    margin-left: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.update-heading p{
    color:rgb(122, 115, 115) ;
    
}
.update-heading h2{
    font-size: 1.5rem;
    font-weight: bold;
    color:#5A5AE7 ;
}
.email-submission{
    margin-left: 2.5rem;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-bottom: 1rem;

    
}
.email-submission input{
   margin-right: 0.3rem;
    height: 1.7rem;
}
.email-submission button{
    height: 1.7rem;
    width: 3.3rem;
    color: white;
    background-color: #5A5AE7;
    border: none;
    border-radius: 3px;
}
.email-footer{
    display: flex;
    margin-left: 1.5rem;
    font-size: 12px;
    display: flex;
    flex-direction: row;
}
.footer-section{
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.upper-footer{
    display: flex;
    justify-content: center;
    align-items: center;
   
    width: 77vw;
    height: 35vh;

}
.left-footer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 100%;
    width: 30vw;
    gap: 1rem;
}
.logo-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-footer h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
}
#fodesc{
    color: rgb(121, 114, 114);
}
#footerlogo{
    height: 25px;
    border-radius: 3px;
}
.fsocialimg{
    padding-left: 1rem;
}
.right-footer{
    display: grid;
    width: 50rem;
    height: 100% ;
    grid-template-columns: repeat(4,1fr);
    
}
.footer-summary-section{ 
    display: flex;
    flex-direction: column;
    
}
#fheader{
    color: black;
    font-size: 1rem;
}
.footer-summary-section a{
    color: rgb(98, 92, 92);
    margin-bottom: 1.3rem;
    font-size: 0.9rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
@media screen and (max-width:650px){
    .right-footer{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}



.lower-footer p{
    color: rgb(95, 90, 90);
    margin-bottom: 2rem;
}

