*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    height: 100%;
    width: 100%;
    background-color: rgb(192, 168, 168);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 0.5rem;
    padding: 4rem;
    border: 2px solid white;
    justify-items: end;
    
}
.items{
    height: 100px;
    width: 100px;
    background-color: rgb(160, 85, 85);
    border: 3px solid white;
    /* justify-self: stretch; */
    /* align-self: end; */
    

}