*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body{

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(91, 89, 101) ;
  
  /* font-size: 5rem; */
}
